.TodoList {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 100%;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
}

.TodoList .select-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.TodoList .select-list label {
  margin-right: 5px;
}

.TodoList h3 {
  text-align: center;
}

.TodoList ul li {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.TodoList ul li div:first-of-type {
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
}

.TodoList ul li .action-area {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
