#root {
  background: #fff;
}

.container {
  padding: 1rem;
  width: 100%;
}

.Dashboard {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 200px 1fr;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-areas:
    'add-todo . add-todo-list'
    'todo-list . master-todo-list';
  gap: 40px 0;
}

.add-todo {
  grid-area: add-todo;
}
.add-todo-list {
  grid-area: add-todo-list;
}
.todo-list {
  grid-area: todo-list;
}
.master-todo-list {
  grid-area: master-todo-list;
}
