.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Login {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.4);
  padding: 1rem;
  min-width: 450px;
  max-width: 500px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.Login div {
  display: flex;
  align-items: center;
  margin-top: 0.4rem;
}
.Login div label {
  flex-basis: 30%;
  text-align: right;
  padding-right: 1rem;
}
.Login div input {
  flex-basis: 70%;
}

.Login input[type='submit'] {
  margin-top: 0.6rem;
  padding: 0.5rem 1rem;
}

.Login .message {
  padding: 0 1rem;
  font-size: 0.8rem;
  margin-top: 1rem;
}

.Login a:hover {
  color: var(--primary);
}
