.AddTodoList {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 100%;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
}
.AddTodoList h3 {
  text-align: center;
}

.AddTodoList form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AddTodoList form div {
  display: flex;
  flex-direction: column;
}
.AddTodoList input {
  margin-top: 0.4rem;
}
.AddTodoList input[type='submit'] {
  margin-top: 0.7rem;
}
