:root {
  --primary: #ffc636;
  --secondary: #eee;
}

* {
  box-sizing: border-box;
}

/* Reset styles*/
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
ul {
  list-style-type: none;
}

/* base styles*/
body {
  background-color: var(--secondary);
  font-family: 'Rubik', sans-serif;
  color: #0a0b5b;
}
input[type='submit'],
.button {
  background: none;
  border: 2px solid #0a0b5b;
  color: #0a0b5b;
  padding: 6px 12px;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}
input[type='submit']:hover,
.button:hover {
  color: #222;
  background: var(--primary);
}
input,
select {
  background: rgb(227, 227, 235);
  color: #0a0b5b;
  padding: 10px 16px;
  border-radius: 10px;
  outline: none;
}

/* fonts */
h1,
h2,
h3,
h4 {
  color: #0a0b5b;
}
h1 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.2em;
}

/* Layout Styles*/
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #5614b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #dbd65c,
    #5614b0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #dbd65c,
    #5614b0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar {
  position: fixed;
  display: flex;
  z-index: 1;
  width: 100%;
  top: 0;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0.6rem 1.2rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.2);
  background: #eee;
}

.navbar a:hover {
  color: var(--primary);
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 10px;
}

.container {
  max-width: 1100px;
  margin: auto;
  margin-top: 4rem;
  padding: 0.8rem 2rem;
  flex: 1;
}

footer {
  padding: 0.6rem 1.2rem;
  height: 3rem;
  background: #eee;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
}
